*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.haiwezi{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: #1E2934;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px 0;
    width: 400px;
    height: 400px;

}
section{
display: flex;
justify-content: flex-start;
align-items: center;
gap: 15px;
margin-top: 20px;
}

.container1, .container2{
    width:150px;
    height:40px;
    color: green;
    background: black;
    padding: 20px;
    font-size: 10px;
    text-align: center;
    /* margin: 40px; */
    
}
#passid{
    background-color: greenyellow;
    border: none;
    border-radius: 8px;
    padding: 5px;
}
h1{
    color: white;
font-weight: 900;
}
h2{
    color: green;
}p{color:white;}
